# Contracts
PRIVATE_KEY=
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/-piP7I3aVzKzqNvJWtHLl
ETHERSCAN_API_KEY=9ICXVGEATVNK7SEV9Y3R3BWHR4CGPNYUBB

# Web
NEXT_PUBLIC_REOWN_PROJECT_ID=0757ab6d89de58a77c6582a823dcea8b
NEXT_PUBLIC_ROUTER_ADDRESS=
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/-piP7I3aVzKzqNvJWtHLl
